<div class="center col-md-5">
    <form name="userForm" novalidate>
        <div class="form-group">
            <label for="uEmail">Email</label>
            <input type="email" ng-class="{ 'has-error' : userForm.uEmail.$invalid && !userForm.uEmail.$pristine }" class="form-control" name="uEmail" ng-model="uEmail" id="uEmail" placeholder="Email">
            <p ng-show="userForm.uEmail.$invalid" class="help-block error">Enter a valid email</p>
        </div>
        <div class="form-group">
            <label for="uName">Name</label>
            <input type="text" ng-class="{ 'has-error' : userForm.uName.$invalid && !userForm.uName.$pristine }" class="form-control" id="uName" name="uName" ng-model="uName" ng-pattern="/^[a-zA-Z]+$/" placeholder="User Name">
            <p ng-show="userForm.uName.$error.pattern" class="help-block error">Enter an alphabetic value</p>
        </div>
        <div class="form-group">
            <label for="uMobile">Mobile</label>
            <input type="text" ng-class="{ 'has-error' : userForm.uMobile.$invalid && !userForm.uMobile.$pristine }" class="form-control" id="uMobile" name="uMobile" ng-model="uMobile" ng-pattern="/^[0-9]+$/" ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number">
            <p ng-show="userForm.uMobile.$error.minlength" class="help-block error">Mobile number is too short.</p>
            <p ng-show="userForm.uMobile.$error.maxlength" class="help-block error">Mobile number is too long.</p>
            <p ng-show="userForm.uMobile.$error.pattern" class="help-block error">Enter a numeric value</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">submit</button>
    </form>
</div>